* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url('../public/katie-smith.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Add a fixed black overlay using a pseudo-element */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.profile-options {
  position: absolute;
  top: 60px; 
  right: 0;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  color: #000;
  text-align: center;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-icon-container {
  position: relative;
}

.profile-options button {
  margin-top: 5px;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  display: block; /* Display buttons as blocks, placing each on a new line */
  margin-bottom: 10px; 
}



/* Blue button for 'View Saved Posts' */
.profile-options button.view-saved-posts {
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text color */
}

/* Red button for 'Logout' */
.profile-options button.logout {
  background-color: #dc3545; /* Red color */
  color: #fff; /* White text color */
}

.cardHighlight {
  min-height: 100%;
}

.custom-toggler .navbar-toggler-icon {
  background-color: #fff;
}

.custom-navbar {
  background-color: #132043;
}

.arrow-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

.arrow-icon {
  transform: translateY(1px);
}

/* Custom transparent scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.5); /* Adjust the alpha value for transparency */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(159, 196, 193, 0.7); /* Adjust the alpha value for transparency */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 86, 179, 0.9); /* Adjust the alpha value for transparency */
}


