* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  background-image: url('../public/bg1.jpeg');
  background-size: cover; /* Cover the entire page */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-attachment: fixed; /* Fix the background image */
}


.cardHighlight {
  min-height: 100%;
}

.custom-toggler .navbar-toggler-icon {
  background-color: #fff; 
}

.custom-navbar {
  background-color: #132043;
  
}
.arrow-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 24px; /* Adjust the size as needed */
  color: #007bff; /* Adjust the color as needed */
  cursor: pointer;
}

.arrow-icon {
  /* Adjust the margin as needed */
  transform: translateY(1px); /* Adjust the vertical position as needed */
  /* You can add other styles to customize the arrow icon */
}

